@use "sass:math";
@use "sass:map";
@use "sass:list";
@use "sass:string";

$breakpoints: (
	"sm": 576px, 
	"md": 768px, 
	"lg": 992px, 
	"xl": 1200px
);

$screen-names: map.keys($breakpoints);
$screen-sizes: map.values($breakpoints); 


[class*=grid-] {
    display:grid;
}

// Generate grid styles
@for $i from 1 through list.length($screen-sizes) {
	// Base style
	.grid-#{$i} {
		grid-template-columns: repeater($i, "fr");
	}

	// Mobile-first screen-size scoped media queries
	@for $ii from 1 through list.length($screen-sizes) {
		$size: list.nth($screen-sizes, $ii);
		$name: list.nth($screen-names, $ii);

		@media screen and (min-width: $size) {
			.grid-#{$i}-#{$name} {
				grid-template-columns: repeater($i, "fr");
			}
		}
	}
}

// Generate gap classes
$gap-base: 4px;

@mixin grid-gap-class($multiplier) {
  [class*=grid].gap-#{$multiplier} {
    //grid-column-gap: $gap-base * calc(math.pow($multiplier, 2) / 2);
    grid-column-gap: $gap-base * calc(math.pow($multiplier, 2) / 3);
    grid-row-gap: $gap-base * calc(math.pow($multiplier, 2) / 3);
  }
}

@for $i from 1 through 5 {
  @include grid-gap-class($i);
}